:root {
    --primary-color: #0346B8;
    --secondary-color: #0265A6;
    --text-color: #393939;
    --background-color: #F4F6FA;
    --white-color: #ffffff;
    --hr-blue-color: #E7ECF3;
    --black-color: #000000;
    --low-shade-light-blue-color: #F4F8FF;
    --low-shade-light-gray-color: #F4F4F4;
    --high-shade-light-blue-color: #DEF2FF;
    --opacity-000-white-color: #ffffff;
    --opacity-100-white-color: rgba(255, 255, 255, 0);
    --opacity-003-black-color: rgba(0, 0, 0, 0.03);
    --opacity-007-black-color: rgba(0, 0, 0, 0.1);
}